In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
exe_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome' , **exe_path , headless = False)

In [3]:
url = 'https://galaxyfacts-mars.com/'
browser.visit(url)

In [4]:
html = browser.html
mars_facts = soup(html , 'html.parser')

In [5]:
mars_facts.head.title.text

'Mars Facts - Interesting facts about Planet Mars'

In [6]:
table  = mars_facts.find("table" , class_ = "table table-striped")
rows= table.find_all('tr')
rows

[<tr>
 <th scope="row">Equatorial Diameter:</th>
 <td>6,792 km</td>
 </tr>,
 <tr>
 <th scope="row">Polar Diameter:</th>
 <td>6,752 km</td>
 </tr>,
 <tr>
 <th scope="row">Mass:</th>
 <td>	6.39 × 10^23 kg (0.11 Earths)</td>
 </tr>,
 <tr>
 <th scope="row">Moons:</th>
 <td>	2 ( <span class="red">Phobos </span> &amp; <span class="red"> Deimos </span>)</td>
 </tr>,
 <tr>
 <th scope="row">Orbit Distance:</th>
 <td>	227,943,824 km (1.38 AU)</td>
 </tr>,
 <tr>
 <th scope="row">Orbit Period:</th>
 <td>	687 days (1.9 years)</td>
 </tr>,
 <tr>
 <th scope="row">Surface Temperature:</th>
 <td>	-87 to -5 °C</td>
 </tr>,
 <tr>
 <th scope="row">First Record:</th>
 <td>	2nd millennium BC</td>
 </tr>,
 <tr>
 <th scope="row">Recorded By:</th>
 <td>	Egyptian astronomers</td>
 </tr>]

In [7]:
mars_facts_data = {}
for row in rows:
    heading = row.find('th').text
    data =row.find('td').text
    mars_facts_data[heading] = data
mars_facts_data

{'Equatorial Diameter:': '6,792 km',
 'Polar Diameter:': '6,752 km',
 'Mass:': '\t6.39 × 10^23 kg (0.11 Earths)',
 'Moons:': '\t2 ( Phobos  &  Deimos )',
 'Orbit Distance:': '\t227,943,824 km (1.38 AU)',
 'Orbit Period:': '\t687 days (1.9 years)',
 'Surface Temperature:': '\t-87 to -5 °C',
 'First Record:': '\t2nd millennium BC',
 'Recorded By:': '\tEgyptian astronomers'}

In [8]:
mars_facts_data = {}
for row in rows:
    heading = row.find('th').text
    data =row.find('td').text.strip()
    mars_facts_data[heading] = data
mars_facts_data

{'Equatorial Diameter:': '6,792 km',
 'Polar Diameter:': '6,752 km',
 'Mass:': '6.39 × 10^23 kg (0.11 Earths)',
 'Moons:': '2 ( Phobos  &  Deimos )',
 'Orbit Distance:': '227,943,824 km (1.38 AU)',
 'Orbit Period:': '687 days (1.9 years)',
 'Surface Temperature:': '-87 to -5 °C',
 'First Record:': '2nd millennium BC',
 'Recorded By:': 'Egyptian astronomers'}

# using pandas scrap the table data

In [9]:
import pandas as pd

In [10]:
df = pd.read_html('https://galaxyfacts-mars.com')
df

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [11]:
# Read in HTML tables into a DataFrame
df = pd.read_html('https://galaxyfacts-mars.com')
# Select the first table
mars_df = df[0]

# Rename columns
mars_df.columns=['description', 'Mars', 'Earth']

# Remove the first row from the DataFrame
mars_df = mars_df.iloc[1:]

In [12]:
df[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers